
{% extends "base.html" %}

{% block title %}Home Page{% endblock %}

{% block content %}

<main>
  <div class="container">
    <header><br>
      <div style="text-align: center;">
        <img src="static/images/don.jpg" alt="Don Fox's personal photo" height="255" width="255">
        <h3 class="name-header">Don Fox</h3>
      </div><br>
    </header>

    <section class="intro content">
      <p>
        With over 25 years of experience as a software developer, I specialize in backend development on Unix platforms, having worked in  diverse domains such as telecommunications, finance, medical records processing, and more. I've also done some occasional web development. In addition, I have mentored interns on various projects. I am currently seeking remote contracts or freelance opportunities to work on innovative projects.
      <p>

        Currently, I am exploring blockchain and cryptocurrency technologies, as well as functional programming and related paradigms using Lisp, Scheme, and Haskell. During recent R&D work, I developed a basic prototype for a Bitcoin indexer using Elixir, which was also a pedagogical tool  developed along with some of our interns. I look forward to applying these paradigms in future projects.
      </p>  

      <p>
        This site serves as a hub to share my resume, reflections on books and articles, and a portfolio of projects that range from practical applications to abstract explorations inspired by thinkers like Gödel and G. Spencer-Brown.
      </p>

      <p>Feel free to explore my resume, browse my portfolio, or connect with me for potential collaborations. </p>
    </section>

    <section class="construction">
      <p><strong> Site Updates in Progress</strong></p>
      <p>As this site evolves, I plan to include:</p>
      <ul>
        <li>My public GitHub repositories, to display projects and experiments.</li>
        <li>Notes on books and articles of interest.</li>
      </ul>
    </section>
  </div>
</main>
{% endblock %}
