
{% extends "base.html" %}

{% block title %}Home Page{% endblock %}

{% block content %}

<main>
  <div class="container">
    <header><br>
      <div style="text-align: center;">
        <img src="static/images/don.jpg" alt="Don Fox's personal photo" height="255" width="255">
        <h3 class="name-header">Don Fox</h3>
      </div><br>
    </header>

    <section class="intro content">
      <p>
        A software developer with over 25 years of experience in domains such as telecommunications, warehouse 
        inventory management, electronic medical records processing, and bioinformatics. My background has been mostly in backend development on Unix platforms working with various programming languages and mostly relational databases, but I have also done some occasional web development. I'm looking for remote contracts or perhaps freelance work.
      </p><br>

      <p>
        In the last few years, I've been centered largely on Python, so in looking for a contract I'll likely have a bias for projects that involve Python. It's useful with extensive libraries that can be especially helpful in prototyping and modeling and is essential to have, along with JavaScript, as part of one's basic toolkit.    
      </p><br>  

      <p>
        On this site I'll display an up-to-date resume along with a few related asides regarding books and articles that interest me and are related to computing. Currently, I'm building a portfolio of projects to be displayed on GitHub, as time permits, to explore practical applications, such as Blockchain technologies, and also some theoretical questions in computer science that interest me. Here, I'm thinking about subjects such as the work of Gödel and G. Spencer-Brown using functional coding languages. 
      </p><br>
    </section>

    <section class="construction">
      <p><strong> Site Updates in Progress</strong></p>
      <p>As this site develops, new features will be added, such as:</p>
      <ul>
        <li>Links to public GitHub repositories.</li>
        <li>Notes on books and articles of interest.</li>
      </ul>
    </section>
  </div>
</main>
{% endblock %}
