<!DOCTYPE html>
<html lang='en'>

<head>
  <meta charset="UTF-8">
  <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'> 
  <title>Don Fox - Resume</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> 
  <link rel="stylesheet" href="/static/style.css">
</head>

<body>
  <header>
      <address class="contact_info">
        <h4>Don Fox</h4>
        896 Hereford Dr.<br>
        Akron OH 44303<br>
        <a href="mailto:donfox1@mac.com">donfox1@mac.com</a><br>
        (865) 360-0089<br>
      </a>
    </header>

    <main>
      <section class="summary">
        <h4><u>Summary</u></h4>
        <p> Over 25 years of software application development spanning such domains as telecommunications, warehousing, labor accounting, medical records processing, bioinformatics etc. on Unix platforms, and a variety of programming languages and runtime environments. Most work has been on the back-end with a some web development projects in more recent years.</p>
        <p>I'm interested in remote contractual or freelance projects.</p>
      </section>

      <section class="education">
        <h4><u>Education</u></h4>
          <p>Bachelor of Arts in Philosophy, 1982<br/>University of Tennessee, Knoxville</p> 
          <h4><u>Technical Training</u></h4>
          <p>
            Associate of Science Degree in Computer Science Technology, Cum Laude, 1991<br>
            Pellissippi State Technical Community College, Knoxville Tenessee
          </p><br>
      </section>

      <article class="professional-history"> 
      <h4><u>Professional History:</u></h4>

      <article class="jobs emrts">
        <h5>EMRTS</h5>
          <a href="https://emrts.us/" target="_blank">https://emrts.us/</a><br>
          <p><em>Note:</em> Electronic Medical Records Technical Solutions (EMRTS) was a startup addressing various medical IT needs, including medical records, billing, scheduling, provider enrollment, claims processing, and more, using open-source technology. I worked with EMRTS on five separate occasions as a freelance developer, collaborating remotely with academics from North Carolina A&T University and other developers via Git and Skype.</p><br>
          <ul>
            <li><strong>August 23, 2024 – September 2024:</strong> Initially, I was brought on to help mentor interns working on programming challenges and support research projects focused on Medicaid predictions, introducing foundational data science concepts. Over time, we expanded the project to include research on cryptocurrency, which led to the design and development of a Bitcoin indexer application. This work not only provided valuable mentoring experience but also aimed to deliver a production-ready tool to compete with existing commercial solutions.
                <br>
                <strong>Technologies used:</strong> macOS, Windows, the EMRTS Linux network, and GitHub for version control. Development relied heavily on Python 3.x and Flask, with some components built in TypeScript. Databases used included PostgreSQL.
            </li>
            
            <li><strong>July 2015 – January 2017:</strong> Developed proofs of concept tools and prototypes to handle medical transaction data (EDI_X12_837) and process large medical provider information (JSON, XML). Extended a web services application for state governments and clinics for medical provider data registration and validation.
                <br>
                <strong>Tools:</strong> Python 3.5, PostgreSQL, Django, JavaScript | <strong>Platform:</strong> Unix
            </li>
            
            <li><strong>October 2013 – March 2014:</strong> Collaborated on an application for mobile medical screenings and provider enrollment research for state governments. Developed a Health Information Exchange (HIE) application for hospitals.
                <br>
                <strong>Tools:</strong> Elixir/Phoenix | <strong>Platform:</strong> Ubuntu Linux, macOS | <strong>Databases:</strong> MariaDB, PostgreSQL, MongoDB
            </li>
            
            <li><strong>November 2011 – March 2012:</strong> Focused on electronic medical records, claims processing, and provider enrollment applications on GNU/Linux using Python and Django. Created tools for handling JSON data and expanded the application to support additional records processing.
                <br>
                <strong>Tools:</strong> Python, Django, JavaScript (jQuery, Node.js) | <strong>Databases:</strong> MariaDB, PostgreSQL, Redis
            </li>
            
            <li><strong>July 2009 – May 2010:</strong> Conducted code analysis for GNUmed (an open-source electronic medical record system) to evaluate its suitability for client needs. Built a RESTful web service for state medical provider validation.
                <br>
                <strong>Tools:</strong> Python, Django | <strong>Platform:</strong> GNU/Linux
            </li>
        </ul>
      </article>

      <article class="quantuvos">
        <h5>Quantuvos</h5>
        <p><a href="https://www.quantuvos.com" target="_blank">https://www.quantuvos.com</a><br>
        Nov 2021 – Feb 2022</p>
        <p>Served as a technical consultant for Quantuvos, a start-up in coaching services, at the request of the CTO. My role involved reviewing and testing code for an MVP website used by coaches and clients to schedule workshops and sessions. I provided recommendations to enhance the site’s functionality and robustness. This remote project utilized Python 3.9, Django 3.1, PostgreSQL 14.1, Docker, and Azure.
      </article>
      <br>

    <article class="orchid-orth">
      <h5>Orchid Orthopedic Solutions, Mason, MI</h5>
      <p><a href="https://www.orchid-ortho.com" target="_blank">https://www.orchid-ortho.com</a><br>
      Feb. 17, 2020 – Dec. 11, 2020</p>
      <p>A remote <i><b>six-month contract</b></i>, later extended to year-end, focused on document processing and archival. This project involved preparing documents (Word, Excel, and PDF) for submission to <a href="https://www.etq.com" target="_blank">EtQ Reliance</a>. I handled the <b>programmatic modifications</b> of Word documents, adding required tags and formats for archival purposes and manipulating spreadsheet metadata. Metadata was verified programmatically for accuracy and completeness before proceeding. Development was done with <b>Python 3.8</b> and <b>C#</b> on both <b>Windows 10</b> and <b>macOS</b>.</p>
    </article>
    <br>

    <article class="c-spire">
        <h5>C Spire, Jackson M.S.</h5>
        <!-- <h5>https://www.cspire.com</h5> -->
        <p><a href="https://www.cspire.com" target="_blank">https://www.cspire.com</a><br>
        July 2018-Late December 2018<br/>
        I was <i><b>lead developer</b></i> on this contract to create a <b>“RESTful auto-provisioning API”, for managing customer and vendor services data</b>. This involved tracking, logging and reporting on customer services provided by C spire and third-party vendor services provided to C spire. The application was for use by  the business office and the network system administrator. Tools used included <b>Python2.7, PostgreSQL/SQLAlchemy, MySQL,  Flask</b> and <b>Postman</b>. Development done mostly on <b>macOS</b> then 
        ported to a distribution of <b>GNU/Linux</b>.
      <!-- </div> -->
    </article>
      <br>

    <article class="lowes">   
        <h5>Lowes Inc., Mooresville N.C.</h5>
        <p><a href="https://www.https://corporate.lowes.com" target="_blank">https://www.https://corporate.lowes.com</a><br>
        August 2012-May 2013<br>
        A project for refactoring and extending legacy <b>C</b> code to accommodate transition to EMV credit and debit cards. The platform was <b>AIX</b> using <b>Oracle</b> and <b>DB2</b> databases. The scope included code analysis, bug fixes, and documentation. I was a contractor.
        <p>
    </article>
      <br>
          
    <article class="hilton">
      <h5>Hilton, Memphis TN</h5>
      April 2012-August 2012<br>
      This was almost exclusively production support for the Central Reservation System of Hilton Hotels, which involved some occasional lightweight <b>C</b>, <b>Perl</b> or <b>Shell</b> programming on <b>Solaris</b> and <b>GNU/Linux</b>. The databases involved were <b>Informix</b> and <b>MySQL</b>. I was a contractor.</p><br>

      <p align=justify><em>Note: The position had been misrepresented as software development but was production support instead.</em></p>
    </article>
      <br>
          
    <article class="hewlett-packard">
      <h5>Hewlett-Packard, Nashville Tennessee</h5>
      May 2010-December 2011<br>
      I was <b>employed</b> to do software maintenance and troubleshooting for TennCare for the State of Tennessee. This involved a project for refactoring and extending a <b>SOAP server</b> (written in <b>C</b>) to enhance data exchanges throughout the legacy <b>MMIS (Medicaid Management Information System)</b> network to develope monthly report generators for various kinds of medical claims(in <b>C</b> and <b>PL/SQL</b>). There was also a major project porting the  entire application code base over to a new 64-bit <b>Solaris network</b> with new compilers and the latest version of <b>Oracle</b>. There was some sporadic <b>technical writing</b> and documentation.</p>
    <article>
      <br>
        
      <article class="acs">
        <h5>ACS, Nashville Tennessee</h5>
        February 2009-May 2009</br>
        Here I was employed to <b>migrate MMIS (Medicaid Management Information System) software and data related toTennCare</b> for the State of Tennessee (https://www.tn.gov /tenncare.html) from Hewlett Packard control to the networks of new management (ACS). This involved <b>analysis/evaluation of existing code modules</b> (written in<b>C</b>), and the<b> creation of automation scripts in Python 3</b> for collection and deployment of the system to the ACS network. </p><br>

        <p align=justify><em>Note: ACS lost its contract with the State of Tennessee within months resulting in lay-offs and the return the project back to the previous company (Hewlett-Packard</em><br>
      </article>
        <br>

      <article class="nationwide">
        <h5>Nationwide, Columbus Ohio,</h5>
            October 2008-February 2009</br>
            Here I worked on <b>daily analysis of annuity data flows and financial services information to detect and correct anomalies</b>. This was on <b>Solaris</b> using <b>Oracle</b> databases and a proprietary scripting language. I began a project to replace and simplify the many  proprietary shell scripts with a single application,to be written in <b>Python</b>, but was unable to proceeds due to lay-offs and project cut-backs. </p><br>
      
        <p align=justify><em>Note: Job was terminated due to funding cutbacks and eventual lay-offs resulting from 
            the recession.</em></p>
      </article>
        <br>

      <article class="lexmark">
        <h5>Lexmark, Lexington Kentucky</h5>
            May 2007-October 2008<br>
            This <b>contract position</b> focused on <b>bug fixes, code analysis and refactoring/extending C code</b> for high-end, secure prototype printers running <b>Red Hat Linux (RHEL). These machines were actually network nodesas well as printers and were targeted for government agencies, military, and financial institutions</b>. I began writing scripts and utilities with <b>Python 2.6</b> for integration testing. </p><br>

       <p align=justify><em>Note: Project gradually dwindled away due to the economic downturn of that time.</em></p>
      </article>
        <br>

      <article class="ibm-security">
            <h5>IBM Internet Security Systems Atlanta Georgia</h5>
            <p><a href="https://www.ibm.com/jm/download/IBM_ISS_Overview.pdf" target="_blank">https://www.ibm.com/jm/download/IBM_ISS_Overview.pdf</a><br>

            <!-- <h5>https://www.ibm.com/jm/download/IBM_ISS_Overview.pdf</h5> -->
            January 2007-May 2007<br>
            This was a four-month <b>contract</b> to <b>develop tools for porting and rebuilding standard C/C++ applications</b> from <b>Microsoft Visual Studio</b>  over to <b>Unix environments</b>. The project required that residual resources generated by Visual Studio be used rather than building the applications with the usual Make files on
            <b>Unix</b>. Development took place using <b>Mac OSX</b>, <b>Windows XP</b> and <b>Ubuntu</b> operating systems.
        </p>
      </article>
        <br>

        <article class="lowes-wilksboro">
            <h5>Lowes Inc., Wilkesboro North Carolina</h5>
            February 2006-December 2006</br>
            This <b>contract</b> involved <b>internationalization of software to be used at Lowe's first Canadian store</b>. It involved maintenance and extension of existing <b>C</b> and <b>shell scripting</b>. All development was on
            <b>AIX</b>. The databases involved were <b>ORACLE</b> and <b>DB2</b></p>
        </article>
          <br>

        <article class="cingular">
            <h5>Cingular Wireless, Alpharetta Georgia</h5>
            August 2004-February 2006</br>
            This was a <b>contract</b> that involved <b>code extension and maintenance</b> for a legacy billing engine running on <b>AIX</b>and <b>GNU/Linux</b> using <b>ORACLE</b> It  was written primarily in C+  with occasional use of shell scripts</b>. I taught a basic course in <b>C++</b> to the group responsiblefor code acceptance testing,and wrote an application for them, in <b>Perl</b>, that <b>automated the configuration of test boxes.</b></p>
      </article>
        <br>

        <article class="saic">
            <h5>SAIC, Oak Ridge, Tennessee<br>
            <h5>https://saic.com</h5>
            October 2003-August 2004</br>
            I maintained and expanded the functionality of a <b>legacy Perl application</b> used for network wide resource and account maintenance at the Oak Ridge and Los Alamos National Labs. Development was done on multiple <b>Unix platforms,</b> and involved some <b>ORACLE</b> development and peripheral <b>C</b> coding. I was a <b>contractor</b>.</p><br>

            <p align=justify><em>Note: The legacy application I was hired to maintainwas discontinued in fall of 2004 at both National Labs.</em></p>
         </article>
            <br>

        <articlle class = "utk.edu">
            <h5>University of Tennessee, Knoxville Tennessee<br>Center for Environmental Biotechnology</h5>
            <p><a href="https://ceb.utk.edu/" target="_blank">https://ceb.utk.edu/</a><br>
            August 2002-October 2003</br>In this <b>freelance</b> job I created some bioinformatics tools for monitoring micro-array gene expression data. This included implemenrtation of a <b>MySQL database</b> and an <b>automated report-generating system</b> (written in <b>Perl</b> and <b>C</b> on <b>Red Hat Linux</b>). I audited a genetics class designed for medical students and <b>tutored some of the professional staff and graduate students in Perl programming</b> that they could use  in their research.</p>
        </article>
          <br>

        <article class="manhattan-assoc">
            <h5>Manhattan Associates, Atlanta Georgia</h5>
            July 2001-July 2002</br>
            Initially a <b>code maintenance</b> contract on a <b>cross-platform warehouse management application written in C++</b>. Both <b>Linux</b> and <b>Windows</were used with <b>Linux</b> being primary, and <b>Oracle</b> as the favored database.  Tools used were <b>MKS Toolkit</b> and <b>Microsoft VisualStudio</b> and <b>Microsoft Advanced Windows Server OS</b>. I became an <b>employee after six months</b><br><br>

            <p align=justify><em>Note: This position was finally terminated due to lay-offs resulting from the early 2002 recession </em></p>
        </article>
            <br>

        <article class="lhs/sema">
           <h5>LHS/Sema Group Telecom, Atlanta Georgia</h5> 
           January 2000-July 2001<br>
           A six-month contract requiring code maintenance and enhancement, spanning multiple <b>Unix</b> platforms, for a large legacy-billing engine written in <b>C/C++</b> using <b>ORACLE</b>. There were major technical documentation rewrites and I also attended in-house classeson various topics including <b>Object Oriented Analysis and Design (OOAP)</b>, and <b>Oracle Tools</b> while I was there.
      </article>
        <br>

        <article class="intellivice">
            <h5>Intellivoice/Premier Technologies, Atlanta Georgia</h5>
            November 1998 January 2000<br/> 
            Intellivoice specialized in <b>multi-media integration R&D</b>  for  distributed <b>Solaris</b> networks. This included extending fax functionality such as <b>text to speech and speech to fax</b>. I worked on coding problems using mostly <b>C++</b> and evaluated third party middleware (such as <b>CORBA</b>)to facilitate communication over such networks. I was initially a contractor, then an employee after six months.<br><br>
       
            <p align=justify><em>Note: In January 2000 Intellivoice was sold and there was change in direction of the company, which involved discontinuing most of the projects I had worked on and was interested in.</em></p>
      </article>

    </section>

      <div style="margin-top: 20px; padding: 10px; border-top: 1px solid #ddd;">
        <section class="request-resume">
        <h4>Request a Copy of My Resume</h4>
        <form action="{{ url_for('send_resume') }}" method="post">
          <label for="email">Enter your email address:</label>
          <input type="email" id="email" name="email" required>
          <button type="submit">Request Resume</button>
        </form>
      </section>
    </main>

    <footer>
        <br><a href="{{ url_for('index') }}"> Home </a><br>
        <a href="static/images/Recomendation_Dave_Schultz.jpg">References and Recommendations:</a><br>
        <a href="{{ url_for('books') }}">Books related to Computing</a>
    </footer>
  </body>

</html>